body 
{
	font-family: Monospace;
	font-weight: bold;
	background-color: #ccccff;
	margin: 0px;
	overflow: hidden;
}

div.dg.ac{
    z-index:1000 !important;
}

.details {
    z-index: 1000 !important;
    width: 280px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1a1a1a;
    
    color: white;
    font-size: 12px;
    padding: 5px;
    font-weight: lighter;
    
}

.details .people{
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #555555;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.details .people .name {
    float: left;
    width: 80%;
}

.details .people .background {
    float: left;
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.people .person{
    float: left;
    width: 100%;
    margin-bottom: 5px;
    
}

.details .chat{
    width: 100%;
    height: 65%;
    overflow-y: scroll;
    float: left;
}

p{
    margin: 0px;
    padding: 0px;
}

.message {
    float: left;
    width: 100%;
    z-index: 100;
    margin-bottom: 2px;
}

.counter{
    position: absolute;
    height: 20px;
    top: 50px;
    right: 5px;
}

.message .user {
    display: inline;
    text-shadow: 1px 1px 0px rgb(50, 50, 50);
}

.message .text {
    display: inline;
}

#chatForm{ 
    margin-top: 5px;
}

#chatForm #message{
    width: 75%;
    float: left;
}

#chatForm #submit{
    width: 20%;
    float: left;
}
